/* ----------- Custom Colors ----------- */
$custom-blue: #45d9fd;
$custom-white: #f4f4f4;
$custom-pink: #ee2560;
$custom-black: #08182b;

@media screen and (min-width: 992px) {
  /*------------ Header ------------*/
  .navbar.navbar-expand-lg .collapse.navbar-collapse.show,
  .navbar.navbar-expand-lg .collapse.navbar-collapse.hide {
    height: 0;
  }

  .navbar.navbar-expand-lg {
    padding: 0 0 0 30px;
    border-color: $custom-black !important;
    background-color: $custom-black !important;

    .hamburger {
      display: none;
    }

    .project-name {
      border-top: 2px solid $custom-pink;
      border-bottom: 2px solid $custom-pink;
      font-size: 36px;
    }

    .navbar-brand {
      padding: 5px 0 5px 0;
      font-family: 'Josefin Sans', sans-serif;
    }

    ul.navbar-nav {
      position: absolute;
      right: 0;
      text-align: center;

      .search-button {
        position: relative;
        padding: 13px 30px 13px 8px;
        border: none;
        background-color: transparent !important;
        color: $custom-pink;
        cursor: pointer;

        &:hover {
          color: $custom-white;
        }

        &:focus {
          outline: none;
        }
      }

      .navbar-search {
        display: inline-block;
        width: 200px;
        margin-right: 30px;

        &:focus {
          -webkit-box-shadow: 0 0 0 0.2rem rgba(238, 37, 96, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(238, 37, 96, 0.5) !important;
          color: $custom-black;
        }
      }

      .hide {
        display: none;
      }
    }

    // Menu color
    a.nav-link {
      padding-right: 30px;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 13px;
      color: $custom-pink;

      &:hover {
        color: $custom-white;
      }
    }

    .user-dropdown-menu {
      position: relative;

      a {
        cursor: pointer !important;
      }

      .dropdown-show {
        position: absolute;
        background-color: $custom-black;

        a {
          position: relative;
          display: block;
          margin-bottom: 15px;
          padding: 0 15px 0 15px;
          text-transform: capitalize;
          color: $custom-pink;

          &:hover {
            text-decoration: none;
            color: $custom-white;
          }

          &:first-child {
            margin-top: 15px;
          }
        }
      }
    }
  }

  /*------------ Home --------------*/
  .home {
    position: relative;
    padding: 15px 0 15px 0;
    background-color: $custom-white;

    // Interactive Fiction Card
    .story-category-wrapper {
      position: relative;
      margin: 0 0 30px;

      .category-title {
        position: relative;
        margin-bottom: 10px;
        font-size: 22px;
        color: $custom-black;
      }

      .story-box {
        position: relative;
        margin: 15px;
        border: none;
        -webkit-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
        -moz-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
        box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);

        &:hover {
          .image-wrapper {
            opacity: 0.5;
          }
        }

        .card-header {
          position: relative;
          padding: 0;

          .image-wrapper {
            position: relative;
            width: 100%;
            height: 150px;

            .story-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .card-body {
          position: relative;
          padding: 15px;

          .story-title {
            position: relative;
            display: block;
            margin: 0 0 15px 0;

            h2 {
              margin-bottom: 5px;
              text-transform: capitalize;
              font-size: 15px;
              color: $custom-black;
            }

            label {
              margin: 0;
              color: $custom-black;
            }
          }

          .story-author {
            position: relative;
            display: block;
            margin: 0 0 15px 0;

            h2 {
              margin-bottom: 5px;
              text-transform: capitalize;
              font-size: 15px;
              color: $custom-black;
            }

            label {
              margin: 0;
              color: $custom-black;
            }
          }

          .story-category-list {
            position: relative;
            display: block;
            margin: 0 0 10px 0;

            h2 {
              margin-bottom: 5px;
              text-transform: capitalize;
              font-size: 15px;
              color: $custom-black;
            }

            .label-category {
              margin-bottom: 5px;
              text-transform: capitalize;
              color: $custom-black;

              &:after {
                content: ', ';
                white-space: pre;
              }

              &:last-child:after {
                content: '';
              }
            }
          }

          .rating-stars {
            position: relative;

            .star-average {
              position: relative;
              display: inline-block;
              padding-left: 5px;
              vertical-align: middle;
              font-size: 15px;
              color: #a1a7b3;
            }
          }
        }
      }
    }
  }

  /*------------ Story ------------*/
  .story {
    position: relative;
    min-height: 70vh;
    padding: 15px;
    background-color: $custom-white;

    .story-title {
      position: relative;
      margin-bottom: 10px;
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      color: $custom-black;
    }

    .search-bar {
      position: relative;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 10px;

      .search-input {
        position: relative;
        width: 200px;
        border-right: none;
        border-radius: 5px 0 0 5px;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: $custom-black;

        &:focus {
          border-color: $custom-black;
          color: $custom-black;
        }
      }

      .search-button {
        position: relative;
        width: 50px;
        border: none;
        border-color: $custom-black;
        border-radius: 0 5px 5px 0;
        background-color: $custom-black;
        background-image: none;

        svg {
          margin-bottom: 3px;
          color: $custom-pink;
        }

        &:active,
        &:hover,
        &:focus {
          border: none;
          border-color: $custom-black;
          background-color: $custom-black;
          background-image: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          outline: none;
        }

        &:hover {
          background-color: $custom-pink;
          svg {
            color: $custom-white;
          }
        }
      }
    }

    .search-result {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding-right: 15px;

      h1 {
        margin: 0;
        font-size: 16px;
        color: $custom-black;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    .story-box {
      position: relative;
      margin: 15px;
      border: none;
      -webkit-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
      -moz-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
      box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
      cursor: pointer;

      &:hover {
        .image-wrapper {
          opacity: 0.5;
        }
      }

      .card-header {
        position: relative;
        padding: 0;

        .image-wrapper {
          position: relative;
          width: 100%;
          height: 150px;

          .story-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .card-body {
        position: relative;
        padding: 15px;

        .story-title {
          position: relative;
          display: block;
          margin: 0 0 15px 0;

          h2 {
            margin-bottom: 5px;
            text-transform: capitalize;
            text-align: left;
            font-size: 15px;
            color: $custom-black;
          }

          label {
            display: block;
            margin: 0;
            text-align: left;
            font-size: 13px;
            color: $custom-black;
          }
        }

        .story-author {
          position: relative;
          display: block;
          margin: 0 0 15px 0;

          h2 {
            margin-bottom: 5px;
            text-transform: capitalize;
            font-size: 15px;
            color: $custom-black;
          }

          label {
            margin: 0;
            color: $custom-black;
          }
        }

        .story-category-list {
          position: relative;
          display: block;
          margin: 0 0 10px 0;

          h2 {
            margin-bottom: 5px;
            text-transform: capitalize;
            font-size: 15px;
            color: $custom-black;
          }

          .label-category {
            margin-bottom: 5px;
            text-transform: capitalize;
            color: $custom-black;

            &:after {
              content: ', ';
              white-space: pre;
            }

            &:last-child:after {
              content: '';
            }
          }
        }

        .rating-stars {
          position: relative;

          .star-average {
            position: relative;
            display: inline-block;
            padding-left: 5px;
            vertical-align: middle;
            font-size: 15px;
            color: #a1a7b3;
          }
        }
      }
    }

    .story-box-load-more {
      position: relative;
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      text-transform: capitalize;
      background-color: $custom-black;
      color: white;
    }
  }

  /*------------ Blog ------------*/
  .blog {
    position: relative;
    background-color: $custom-white;
    padding: 15px 0 15px 0;

    .blog-title {
      position: relative;
      margin-bottom: 10px;
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      color: $custom-black;
    }

    .blog-box {
      display: block;
      position: relative;
      margin-right: 15px;
      padding: 15px;
      border-radius: 3px;
      background-color: $custom-black;

      .blog-box-title {
        position: relative;
        text-transform: capitalize;
        font-size: 20px;
        color: white;
      }

      .blog-box-date {
        position: relative;
        text-transform: capitalize;
        font-size: 12px;
        color: white;
      }

      .blog-box-line {
        position: relative;
        border: 0.7px solid $custom-pink;
      }

      .blog-box-image {
        position: relative;

        img {
          width: 100%;
          height: 100%;
          border-radius: 3px;
        }
      }

      .blog-box-text {
        position: relative;
        margin-top: 10px;
        margin-bottom: 0;
        font-size: 14px;
        color: white;
        text-align: justify;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      .read-more {
        position: absolute;
        right: 15px;
        bottom: 15px;

        .read-more-button {
          position: relative;
          border-color: $custom-pink;
          text-transform: capitalize;
          font-size: 11px;
          color: white;
        }
      }
    }

    .blog-box-load-more {
      position: relative;
      margin-top: 30px;
      padding-left: 50px;
      padding-right: 50px;
      text-transform: capitalize;
      background-color: $custom-black;
      color: white;
    }
  }

  /*------------ Blog Detail -----------*/
  .blog-detail {
    position: relative;
    padding: 0 15px 0 15px !important;
    background-color: #fff;

    .blog-detail-read {
      padding: 15px;
      background-color: $custom-white;
    }

    .blog-detail-box-title {
      position: relative;
      text-transform: capitalize;
      font-size: 24px;
      color: $custom-black;
    }

    .blog-detail-box-date {
      position: relative;
      margin-bottom: 0;
      text-transform: capitalize;
      font-size: 15px;
      color: $custom-black;
    }

    .blog-detail-box-line {
      position: relative;
      margin-top: 12px;
      border: 1px solid $custom-pink;
    }

    .blog-detail-box-image {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }
    }

    .blog-detail-box-text {
      position: relative;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 16px;
      color: $custom-black;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .change-post {
      position: relative;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .previous-post,
      .next-post {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 13px;
        color: $custom-black;
      }
    }

    .blog-detail-comment {
      position: relative;
      margin-top: 30px;

      .comment-title {
        position: relative;
        margin: 0 0 5px 0;
        text-transform: capitalize;
        font-size: 18px;
      }

      .comment-profile-image-wrapper {
        position: relative;
        padding: 0;

        .comment-profile-image {
          position: relative;
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .comment-form-wrapper {
        position: relative;
        padding: 0;

        .comment-form {
          position: relative;
          display: flex;

          .create-comment-wrapper {
            position: relative;
            padding: 0;

            .create-comment {
              display: flex;
              justify-content: flex-end;
              flex-wrap: wrap;
              width: 100%;
              padding-top: 6px;

              .comment-box {
                position: relative;
                font-size: 13px;

                &:focus {
                  -webkit-box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                  box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                  border-color: $custom-black;
                  color: $custom-black;
                }
              }

              .cancel-comment,
              .submit-comment {
                position: relative;
                margin-top: 5px;
                text-transform: capitalize;
                font-size: 13px;

                &:focus {
                  -webkit-box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                  box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                }
              }
              .cancel-comment {
                margin-right: 5px;
                background-color: transparent;
                border-color: $custom-black;
                color: $custom-black;
              }

              .submit-comment {
                background-color: $custom-black;
                border-color: $custom-black;
                color: white;
              }
            }
          }
        }
      }

      .first-level-comment-wrapper {
        position: relative;
        padding: 0;

        .first-level-comment {
          position: relative;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 30px;

          .second-level-comment-wrapper {
            position: relative;
            margin-top: 15px;
            padding: 0;

            .second-level-comment {
              position: relative;
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;

              .comment-text-wrapper {
                padding-left: 5px;
              }
            }
          }

          .comment-text-wrapper {
            position: relative;
            padding: 0;

            .comment-text {
              position: relative;

              .commentator {
                position: relative;
                margin-bottom: 6px;
                text-transform: capitalize;
                font-size: 14px;
              }

              .content {
                position: relative;
                margin-bottom: 0;
                font-size: 13px;
                color: $custom-black;

                &:first-letter {
                  text-transform: uppercase;
                }
              }

              .reply-button {
                position: relative;
                display: block;
                margin-top: 6px;
                padding: 0;
                border: none;
                background-color: transparent;
                text-transform: capitalize;
                font-size: 13px;
                color: $custom-black;

                &:focus {
                  -webkit-box-shadow: none;
                  box-shadow: none;
                }
              }

              .view-reply-button {
                position: relative;
                display: block;
                margin-top: 6px;
                padding: 0;
                border: none;
                background-color: transparent;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 13px;
                color: $custom-black;

                &:focus {
                  -webkit-box-shadow: none;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }

  /*------------ Writer -------------------*/
  .writer {
    position: relative;
    padding: 15px 0 15px 0 !important;
    background-color: $custom-white;

    .writer-title {
      position: relative;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: $custom-black;
    }

    hr {
      margin: 0 15px 0 15px;
    }

    .search-result {
      display: flex;
      justify-content: flex-end;
      position: relative;
      padding-right: 15px;

      h1 {
        margin: 0;
        font-size: 20px;
        color: $custom-black;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    .flex-wrapper {
      display: flex;
      justify-content: space-between;

      .new-button {
        position: relative;
        margin: 28px 15px 15px 15px;
        text-transform: capitalize;
        font-size: 14px;
        color: $custom-white;
        background-color: $custom-black;

        &:hover {
          background-color: $custom-pink;
        }
      }

      .search-bar {
        position: relative;
        display: flex;
        justify-content: flex-end;
        height: 33px;
        margin-top: 27px;
        padding-right: 15px;

        .search-input {
          position: relative;
          width: 190px;
          border-right: none;
          border-radius: 5px 0 0 5px;
          -webkit-box-shadow: none !important;
          box-shadow: none !important;
          color: $custom-black;

          &:focus {
            border-color: $custom-black;
            color: $custom-black;
          }
        }

        .search-button {
          position: relative;
          width: 93px;
          border-left: none;
          border-color: $custom-black;
          border-radius: 0 5px 5px 0;
          background-color: $custom-black;
          background-image: none;

          svg {
            margin-bottom: 3px;
            color: $custom-pink;
          }

          &:active,
          &:hover,
          &:focus {
            border: none;
            border-color: $custom-black;
            background-color: $custom-black;
            background-image: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            outline: none;
          }

          &:hover {
            background-color: $custom-pink;
            svg {
              color: $custom-white;
            }
          }
        }
      }
    }

    .story-box-wrapper {
      position: relative;
      padding: 15px !important;

      &:last-child {
        margin-right: 0;
      }

      a {
        &:hover {
          text-decoration: none;
        }
      }

      .story-box {
        position: relative;
        border: none;
        -webkit-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
        -moz-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
        box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
        cursor: pointer;

        &:hover {
          .image-wrapper {
            opacity: 0.5;
          }
        }

        .card-header {
          position: relative;
          padding: 0;

          .image-wrapper {
            position: relative;
            width: 100%;
            height: 150px;

            .story-image {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .card-body {
          position: relative;
          padding: 15px;

          .card-title {
            position: relative;
            height: 65px;
            margin: 0 0 15px 0;
            text-transform: capitalize;
            font-size: 18px;
            color: $custom-black;

            /* hide text if it more than N lines  */
            overflow: hidden;
            /* for set '...' in absolute position */
            position: relative;
            /* use this value to count block height */
            line-height: 1.2em;
            /* max-height = line-height (1.2) * lines max number (3) */
            max-height: 3.6em;
            /* fix problem when last visible word doesn't adjoin right side  */
            // text-align: justify;

            /* */
            margin-right: -1em;
            padding-right: 1em;
          }

          .card-author {
            position: relative;
            margin: 0 0 15px 0;
            text-transform: capitalize;
            font-size: 15px;
            color: $custom-black;

            label {
              &:after {
                content: ', ';
                white-space: pre;
              }

              &:last-child:after {
                content: '';
              }
            }
          }

          .rating-stars {
            position: relative;

            .star-average {
              position: relative;
              display: inline-block;
              padding-left: 5px;
              vertical-align: middle;
              font-size: 15px;
              color: #a1a7b3;
            }

            .total-comments {
              position: relative;
              display: inline-block;
              padding-left: 5px;
              vertical-align: middle;
              font-weight: bold;
              font-size: 12px;
              color: #a1a7b3;
            }
          }
        }
      }
    }

    .writer-box-load-more {
      position: relative;
      margin-top: 15px;
      padding-left: 50px;
      padding-right: 50px;
      text-transform: capitalize;
      background-color: $custom-black;
      color: white;

      &:hover {
        background-color: $custom-pink;
      }
    }
  }

  /*------------ Story Detail -------------------*/
  .story-detail {
    position: relative;
    padding: 15px 0 15px 0 !important;
    background-color: $custom-white;

    .story-detail-title {
      position: relative;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: $custom-black;
    }

    hr {
      margin: 0 15px 0 15px;
    }

    .new-button {
      position: relative;
      margin: 30px 15px 15px 15px;
      text-transform: capitalize;
      font-size: 14px;
      color: $custom-white;
      background-color: $custom-black;

      &:hover {
        background-color: $custom-pink;
      }
    }

    .story-box {
      position: relative;
      border: none;
      -webkit-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
      -moz-box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
      box-shadow: 2px 2px 10px -2px rgba(8, 24, 43, 1);
      cursor: pointer;

      .card-header {
        position: relative;
        padding: 0;

        .image-wrapper {
          position: relative;
          width: 100%;
          height: 100%;

          .story-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .card-body {
        position: relative;
        padding: 15px;

        .card-title {
          position: relative;
          margin: 0 0 15px 0;
          text-transform: capitalize;
          font-size: 18px;
          color: $custom-black;

          /* hide text if it more than N lines  */
          overflow: hidden;
          /* for set '...' in absolute position */
          position: relative;
          /* use this value to count block height */
          line-height: 1.2em;
          /* max-height = line-height (1.2) * lines max number (3) */
          max-height: 3.6em;
          /* fix problem when last visible word doesn't adjoin right side  */
          // text-align: justify;

          /* */
          margin-right: -1em;
          padding-right: 1em;
        }

        p {
          font-size: 14px;
          color: $custom-black;

          &:first-letter {
            text-transform: uppercase;
          }
        }

        .card-author {
          position: relative;
          margin: 0 0 15px 0;
          text-transform: capitalize;
          font-size: 15px;
          color: $custom-black;

          label {
            &:after {
              content: ', ';
              white-space: pre;
            }

            &:last-child:after {
              content: '';
            }
          }
        }

        .rating-stars {
          position: relative;

          .star-average {
            position: relative;
            display: inline-block;
            padding-left: 5px;
            vertical-align: middle;
            font-size: 15px;
            color: #a1a7b3;
          }

          .total-comments {
            position: relative;
            display: inline-block;
            padding-left: 5px;
            vertical-align: middle;
            font-weight: bold;
            font-size: 12px;
            color: #a1a7b3;
          }
        }

        .bottom-button {
          button {
            position: relative;
            margin: 15px 15px 0 0;
            background-color: $custom-black;
            text-transform: capitalize;
            font-size: 14px;
            color: $custom-white;

            &:hover {
              background-color: $custom-pink;
            }
          }
        }

        .report-box {
          position: relative;
          margin-top: 15px;
          padding: 15px;
          border: 1px solid $custom-black;
          background-color: $custom-black;

          h1 {
            position: relative;
            display: block;
            margin-bottom: 15px;
            text-transform: capitalize;
            font-size: 18px;
            color: $custom-white;
          }

          label {
            position: relative;
            display: block;
            text-transform: capitalize;
            font-size: 14px;
            color: $custom-white;
          }

          textarea {
            margin-bottom: 15px;
          }

          input {
            color: $custom-white;
          }

          .submit-button {
            position: relative;
            display: block;
            margin-top: 17px;
            background-color: $custom-pink;
            text-transform: capitalize;
            font-size: 14px;
            color: $custom-white;

            &:hover {
              background-color: #ff0066;
              color: $custom-black;
            }
          }
        }
      }
    }

    .blog-detail-comment {
      position: relative;
      margin-top: 30px;

      .comment-title {
        position: relative;
        margin: 0 0 5px 0;
        text-transform: capitalize;
        font-size: 18px;
      }

      .comment-profile-image-wrapper {
        position: relative;
        padding: 0;

        .comment-profile-image {
          position: relative;
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .comment-form-wrapper {
        position: relative;
        padding: 0;

        .comment-form {
          position: relative;
          display: flex;

          .create-comment-wrapper {
            position: relative;
            padding: 0;

            .create-comment {
              display: flex;
              justify-content: flex-end;
              flex-wrap: wrap;
              width: 100%;
              padding-top: 6px;

              .comment-box {
                position: relative;
                font-size: 13px;

                &:focus {
                  -webkit-box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                  box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                  border-color: $custom-black;
                  color: $custom-black;
                }
              }

              .cancel-comment,
              .submit-comment {
                position: relative;
                margin-top: 5px;
                text-transform: capitalize;
                font-size: 13px;

                &:focus {
                  -webkit-box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                  box-shadow: 0 0 0 0.1rem rgba(8, 24, 43, 0.5) !important;
                }
              }
              .cancel-comment {
                margin-right: 5px;
                background-color: transparent;
                border-color: $custom-black;
                color: $custom-black;
              }

              .submit-comment {
                background-color: $custom-black;
                border-color: $custom-black;
                color: white;
              }
            }
          }
        }
      }

      .first-level-comment-wrapper {
        position: relative;
        padding: 0;

        .first-level-comment {
          position: relative;
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          margin-bottom: 30px;

          .second-level-comment-wrapper {
            position: relative;
            margin-top: 15px;
            padding: 0;

            .second-level-comment {
              position: relative;
              display: flex;
              justify-content: flex-start;
              flex-wrap: wrap;

              .comment-text-wrapper {
                padding-left: 5px;
              }
            }
          }

          .comment-text-wrapper {
            position: relative;
            padding: 0;

            .comment-text {
              position: relative;

              .commentator {
                position: relative;
                margin-bottom: 6px;
                text-transform: capitalize;
                font-size: 14px;
              }

              .content {
                position: relative;
                margin-bottom: 0;
                font-size: 13px;
                color: $custom-black;

                &:first-letter {
                  text-transform: uppercase;
                }
              }

              .reply-button {
                position: relative;
                display: block;
                margin-top: 6px;
                padding: 0;
                border: none;
                background-color: transparent;
                text-transform: capitalize;
                font-size: 13px;
                color: $custom-black;

                &:focus {
                  -webkit-box-shadow: none;
                  box-shadow: none;
                }
              }

              .view-reply-button {
                position: relative;
                display: block;
                margin-top: 6px;
                padding: 0;
                border: none;
                background-color: transparent;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 13px;
                color: $custom-black;

                &:focus {
                  -webkit-box-shadow: none;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }

  /*------------ Play --------------------*/
  .play {
    position: relative;
    background-color: $custom-white;
    min-height: 77vh;
    padding: 15px 0 15px 0 !important;

    .play-title {
      position: relative;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: $custom-black;
    }

    hr.styled-line {
      margin-left: 15px;
      margin-right: 15px;
    }

    .play-read {
      position: relative;
      text-align: center;

      .start-read {
        position: relative;
        margin-bottom: 20px;
        background-color: $custom-black;
        text-transform: capitalize;
        font-size: 14px;
        color: $custom-white;

        &:hover {
          background-color: $custom-pink;
        }
      }

      p {
        position: relative;
        color: $custom-black;
        font-size: 14px;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      .choice-text {
        display: block;
        position: relative;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid $custom-black;
        text-align: center;
        font-size: 14px;
        color: $custom-black;
        cursor: pointer;

        &:hover {
          color: $custom-pink;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .review {
      position: relative;
      text-align: center;

      h1 {
        margin-bottom: 0;
        text-transform: capitalize;
        font-size: 18px;
        color: $custom-black;
      }

      div {
        display: flex;
        justify-content: center;
      }
    }
  }

  /*------------ Documentation ------------*/
  .documentation {
    position: relative;
    padding: 15px;
    background-color: $custom-white;

    .documentation-title {
      position: relative;
      margin-bottom: 10px;
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      color: $custom-black;
    }

    .documentation-read {
      .left-content {
        display: block;
        position: relative;
        padding: 18px 15px 15px 15px;

        ul {
          li {
            margin-bottom: 30px;
            text-transform: capitalize;
            font-size: 14px;
            color: $custom-black;
            cursor: pointer;

            &:hover {
              font-weight: bold;
            }
          }
        }
      }

      .right-content {
        position: relative;
        padding: 15px;

        .documentation-subtitle {
          position: relative;
          margin: 0;
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          color: $custom-black;
        }

        // Select Box
        .first-level-select {
          display: none;
        }

        .first-level {
          position: relative;

          h1 {
            margin-bottom: 35px;
            text-transform: capitalize;
            font-size: 24px;
          }
        }

        // Table Of Contents
        h1.first-level-toc {
          position: relative;
          text-transform: capitalize;
          font-size: 32px;
        }

        .second-level-toc {
          position: relative;
          margin-top: 30px;

          a {
            display: inline-block;
            padding-bottom: 5px;
            text-transform: capitalize;
            font-size: 20px;
            color: $custom-pink;
            cursor: pointer;

            &:hover {
              font-weight: bold;
            }

            &:before {
              content: '# ';
            }
          }

          .third-level-toc {
            position: relative;
            padding-left: 30px;

            a {
              text-transform: capitalize;
              font-size: 16px;
              color: $custom-black;
              cursor: pointer;

              &:hover {
                font-weight: bold;
              }

              &:before {
                content: '# ';
              }
            }
          }
        }

        .toc-divider {
          position: relative;
          margin: 30px 0 30px 0;
        }

        // Content
        .second-level {
          position: relative;
          margin-bottom: 60px;

          h2 {
            position: relative;
            margin-bottom: 30px;
            text-transform: capitalize;
            font-weight: bold;
            font-size: 24px;
            color: $custom-pink;

            &:before {
              content: '# ';
            }
          }

          .third-level {
            position: relative;
            margin-bottom: 30px;

            h3 {
              position: relative;
              margin-bottom: 15px;
              text-transform: capitalize;
              font-size: 20px;
              color: $custom-black;
            }

            p {
              position: relative;
              text-align: left;
              line-height: 2em;
              font-size: 16px;
              color: $custom-black;

              &:first-letter {
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .scroll-top {
        text-transform: capitalize;
        background-color: $custom-black;
        color: $custom-white;
      }
    }
  }

  /*------------ Create ------------*/
  .create {
    position: relative;
    padding: 15px !important;
    background-color: $custom-white;

    .save-and-quit {
      margin-top: 15px;
      background-color: $custom-black;
      font-size: 14px;
      text-transform: capitalize;
      color: $custom-white;

      &:hover {
        background-color: $custom-pink;
      }
    }
    .create-title {
      position: relative;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: $custom-black;

      &.link-to {
        color: $custom-white;
        font-size: 14px;
        margin-bottom: 8px;
      }
    }

    .right-bar {
      position: relative;
      padding: 0 15px 0 0 !important;

      .left-side-bar-wrapper {
        position: relative;
        padding: 15px;
        background-color: $custom-black;
        border-radius: 5px;

        label {
          position: relative;
          margin-top: 15px;
          font-weight: bold;
          text-transform: capitalize;
          font-size: 14px;
          color: $custom-white;

          &:first-child {
            margin-top: 0;
          }
        }

        .checkbox {
          .title {
            margin: 15px 0 15px 0;
            font-weight: bold;
          }

          label {
            display: block;
            font-weight: normal;

            input {
              margin: 0 5px 0 0;
            }
          }
        }
      }
    }

    .side-bar {
      position: relative;
      padding: 0 0 0 15px !important;

      .side-bar-wrapper {
        position: relative;
        padding: 15px;
        background-color: $custom-black;
        border-radius: 5px;

        .top-menu {
          position: relative;

          button {
            font-size: 16px;
            background-color: $custom-pink;
            color: $custom-white;
            text-transform: capitalize;
          }
        }

        hr {
          border-color: $custom-white;
        }

        .bottom-menu {
          h1 {
            position: relative;
            margin-bottom: 15px;
            font-size: 16px;
            color: $custom-pink;
            text-align: center;
            text-transform: capitalize;
          }

          .section-block {
            position: relative;
            margin-top: 30px;

            h2 {
              position: relative;
              font-size: 14px;
              color: $custom-white;
              text-transform: capitalize;
            }

            .paragraph-sidebar {
              position: relative;
              padding-left: 30px;
              font-size: 14px;
              color: $custom-white;
              word-wrap: break-word;
              cursor: pointer;

              &:first-letter {
                text-transform: uppercase;
              }

              &:hover {
                color: $custom-pink;
              }
            }
          }
        }
      }
    }

    .create-read {
      position: relative;

      .section-block {
        position: relative;

        &:last-child {
          .section-link {
            display: none;
          }
        }

        .section-wrapper {
          z-index: 10;
          position: relative;
          padding: 15px;
          height: auto;
          border-radius: 5px;
          background-color: $custom-black;

          .section-title-wrapper {
            position: relative;
            margin-bottom: 15px;
            // text-align: left;

            .back-button {
              color: $custom-pink !important;
            }

            .section-title {
              display: inline-block;
              margin: 0;
              padding: 5px;
              border-radius: 5px;
              font-weight: bold;
              letter-spacing: 0.1em;
              font-size: 16px;
              color: $custom-pink;
            }

            label {
              position: relative;
              display: block;
              font-size: 14px;
              color: $custom-white;
              text-transform: capitalize;
            }

            .add-section-button {
              display: inline-block;
              margin-top: 15px;
              text-transform: capitalize;
            }

            .delete-option-button {
              display: inline-block;
              position: relative;
              margin-top: 15px;
              margin-left: 15px;
              background-color: #ff4500 !important;
              border-color: #ff4500 !important;
              text-transform: capitalize;
              color: $custom-white;

              &:active,
              &:hover {
                border-color: $custom-black !important;
                background-color: #a9a9a9 !important;
                color: $custom-white !important;
              }

              svg {
                transform: rotate(45deg);
              }

              &:active,
              &:hover {
                border-color: $custom-white !important;
                background-color: $custom-black !important;
                color: $custom-white !important;
              }
            }
          }

          .paragraph-wrapper {
            position: relative;
            margin-top: 50px;

            .paragraph {
              position: relative;
              width: 100%;
              padding: 10px 15px 10px 15px;
              border: none;
              border-radius: 5px;
              font-size: 14px;
              color: $custom-black;

              &:focus {
                outline: none;
              }
            }

            .delete-option-button {
              display: inline-block;
              position: relative;
              margin-top: 10px;
              margin-bottom: 35px;
              background-color: #ff4500 !important;
              border-color: #ff4500 !important;
              text-transform: capitalize;
              color: $custom-white;

              &:active,
              &:hover {
                border-color: $custom-black !important;
                background-color: #a9a9a9 !important;
                color: $custom-white !important;
              }

              svg {
                transform: rotate(45deg);
              }

              &:active,
              &:hover {
                border-color: $custom-white !important;
                background-color: $custom-black !important;
                color: $custom-white !important;
              }
            }
          }

          .choices-wrapper {
            display: flex;
            position: relative;
            padding-top: 10px;

            label {
              position: relative;
              width: 83px;
              padding: 5px 0 5px 0;
              text-transform: capitalize;
              font-size: 14px;
              color: $custom-white;
              vertical-align: middle;
            }

            .choices {
              position: relative;
              width: 470px;
              height: 33px;
              padding: 5px 15px 5px 15px;
              border: none;
              border-radius: 5px 0 0 5px;
              font-size: 14px;
              color: $custom-black;

              &:focus {
                outline: none;
              }
            }

            .delete-option-button {
              position: relative;
              height: 100%;
              border-radius: 0 5px 5px 0;
              background-color: #ff4500 !important;
              border-color: #ff4500 !important;
              text-transform: capitalize;
              color: $custom-white;

              &:active,
              &:hover {
                border-color: $custom-black !important;
                background-color: #a9a9a9 !important;
                color: $custom-white !important;
              }

              svg {
                transform: rotate(45deg);
              }

              &:active,
              &:hover {
                border-color: $custom-white !important;
                background-color: $custom-black !important;
                color: $custom-white !important;
              }
            }

            .add-link-button {
              position: relative;
              margin-left: 11px;
              height: 100%;
              background-color: $custom-pink !important;
              color: $custom-white;
              text-transform: capitalize;

              &:active,
              &:hover {
                border-color: $custom-black !important;
                background-color: #ff0066 !important;
                color: $custom-black !important;
              }

              .add-link-button:focus {
                -webkit-box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
                box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
              }
            }
          }

          .add-option-button {
            position: relative;
            height: 100%;
            margin-top: 10px;
            background-color: $custom-white !important;
            color: $custom-black;
            text-transform: capitalize;

            &:active,
            &:hover {
              border-color: $custom-black !important;
              background-color: #a9a9a9 !important;
              color: $custom-white !important;
            }

            .add-link-button:focus {
              -webkit-box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
              box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
            }
          }
        }

        .section-link-wrapper {
          position: relative;
          width: 100%;
          height: 100px;
          padding: 0 30px 0 30px;

          .section-link {
            z-index: 9;
            width: 100%;
            height: 100px;
            border-left: 3px dashed $custom-pink;
            border-right: 3px dashed $custom-pink;
            cursor: pointer;

            &:hover {
              border-color: black;

              &:after {
                content: 'Unlink Section';
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                color: $custom-pink;
              }
            }
          }
        }
      }
    }
  }

  /*------------ Profile ----------*/
  .user-profile {
    position: relative;
    padding: 15px !important;
    background-color: $custom-white;

    .user-profile-title {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: $custom-black;
    }

    .user-profile-read {
      padding: 15px;

      background-color: $custom-white;

      label {
        position: relative;
        margin-top: 30px;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 16px;
      }

      p {
        position: relative;
        margin: 0;
        text-transform: capitalize;
        font-size: 14px;
      }

      .profile-image-wrapper {
        width: 250px;
        height: auto;
        padding: 5px;
        border: 1px dashed $custom-black;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .edit-profile {
        display: block;
        position: relative;
        margin-top: 30px;
        font-size: 14px;
        text-transform: capitalize;
        background-color: $custom-black;
        color: $custom-white;
      }

      .edit-profile-image {
        input {
          position: relative;
          display: block;
        }

        .submit-edit-profile {
          display: block;
          position: relative;
          margin-top: 30px;
          background-color: $custom-pink;
          text-transform: capitalize;
          font-size: 14px;
          color: $custom-white;
        }

        .error-alert {
          display: block;
          margin-top: 5px;
          position: relative;
          font-size: 12px;
          color: red;
        }
      }
    }
  }

  /*------------ About ------------*/
  .about {
    position: relative;
    padding: 15px;
    background-color: $custom-white;

    .about-title {
      position: relative;
      margin-bottom: 10px;
      text-align: center;
      text-transform: capitalize;
      font-size: 24px;
      color: $custom-black;
    }

    .description-title {
      margin-top: 0;
      margin-bottom: 5px;
      font-size: 20px;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .description {
      margin-bottom: 0;
      font-size: 14px;
    }

    .milestone {
      position: relative;
      margin-top: 25px;

      .milestone-title {
        margin-top: 25px;
        margin-bottom: 10px;
        text-transform: capitalize;
        font-size: 20px;
        color: $custom-black;
      }

      .timeline-item {
        padding: 3em 2em 2em;
        position: relative;
        color: rgba(black, 0.7);
        border-left: 2px solid rgba($custom-black, 0.3);

        h1 {
          text-transform: uppercase;
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }

        &::before {
          content: attr(date-is);
          position: absolute;
          left: 2em;
          font-weight: bold;
          top: 8.5px;
          display: block;
          font-weight: 700;
          font-size: 13px;
        }

        &::after {
          content: '';
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          margin-left: 1px;
          top: 1em;
          left: -7px;
          border-radius: 10px;
          border: 2px solid rgba($custom-black, 0.3);
          background: white;
        }
      }
    }

    .contributors-title {
      margin-top: 25px;
      margin-bottom: 10px;
      padding-left: 15px;
      padding-right: 15px;

      h2 {
        text-transform: capitalize;
        font-size: 20px;
        color: $custom-black;
      }
    }

    .card {
      position: relative;
      margin: 0 15px 0 15px;
      border: 1px solid $custom-black;

      .card-body {
        padding: 15px;
        background-color: $custom-black;

        .profile-image {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .card-title {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 18px;
          text-transform: capitalize;
          text-align: center;
          color: $custom-white;
        }

        .card-text {
          margin-bottom: 5px;
          text-align: center;
          font-size: 14px;
          color: $custom-white;

          &:last-child {
            margin-bottom: 0;
          }

          &:first-letter {
            text-transform: uppercase;
          }
        }
      }

      .card-footer {
        padding: 15px;
        background-color: white;

        .social-media {
          display: inline-block;
          margin-right: 10px;
          padding: 1.5px;
          border-radius: 3px;
          background-color: transparent;
        }
      }
    }
  }

  /*------------ Account ------------*/
  .account {
    position: relative;
    padding: 15px !important;
    background-color: $custom-white;

    .login-title,
    .register-title {
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      color: $custom-black;
    }

    label {
      position: relative;
      margin: 15px 0 0 0;
      font-size: 14px;
      color: $custom-black;

      &:first-child {
        margin-top: 0;
      }
    }

    input {
      position: relative;
      color: $custom-black;
    }

    input.form-control:focus {
      -webkit-box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
      box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
      color: $custom-black;
    }

    .button-wrapper {
      padding: 0;
    }

    .manual-signin-button {
      position: relative;
      margin-top: 20px;
      border-color: #ee2560 !important;
      background-color: transparent !important;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 14px;
      color: #ee2560 !important;

      &:active,
      &:hover {
        border-color: #ee2560 !important;
        background-color: transparent !important;
        color: #ee2560 !important;
      }
    }

    .manual-signin-button:focus {
      -webkit-box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
      box-shadow: 0 0 0 0.1rem rgba(238, 37, 96, 0.5) !important;
    }

    span.error-message {
      display: block;
      font-size: 12px;
      color: red;
    }

    .captcha-container {
      display: flex;
      margin-top: 20px;
      justify-content: center;
    }
  }

  /*------------ Footer ------------*/
  .footer {
    position: relative;
    padding: 30px 5px 30px 5px;
    background-color: $custom-black;

    .footer-top {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      a {
        padding: 8px 30px;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 13px;
        color: $custom-pink;

        &:hover {
          color: $custom-white;
        }
      }
    }

    .footer-center {
      position: relative;
      margin-bottom: 15px;

      h1 {
        width: 70px;
        margin: 0 auto;
        text-align: center;
        font-size: 30px;
        font-family: 'Josefin Sans', sans-serif;
        color: #fff;
        border-top: 2px solid $custom-pink;
        border-bottom: 2px solid $custom-pink;
      }
    }

    .footer-bottom {
      position: relative;
      text-align: center;

      span {
        display: block;
        font-size: 12px;
        color: white;
      }
    }
  }
}
