/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); /* Vixio */
@import url('https://fonts.googleapis.com/css?family=Kanit'); /* H1 */

/* React Alert */
@import url('https://cdn.jsdelivr.net/npm/react-s-alert@1.4.1/dist/s-alert-default.css');
@import url('https://cdn.jsdelivr.net/npm/react-s-alert@1.4.1/dist/s-alert-css-effects/jelly.css');
@import url('https://cdn.jsdelivr.net/npm/react-s-alert@1.4.1/dist/s-alert-css-effects/slide.css');

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Kanit', sans-serif !important;
  }

  a {
    text-decoration: none !important;
  }

  .blog-separator {
    height: 50px;
  }

  #wrapper {
    position: relative;
    min-height: 100vh;
  }

  .styled-line {
    margin: 0 0 25px 0;
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

  // CSS Loading Animaton
  .loader {
    height: 100vh;

    .sk-cube-grid {
      position: relative;
      width: 50px;
      height: 50px;
      top: 40%;
      margin: 0 auto;
    }

    .sk-cube-grid .sk-cube {
      width: 33%;
      height: 33%;
      background-color: #ee2560;
      float: left;
      -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
      animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }
    .sk-cube-grid .sk-cube1 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .sk-cube-grid .sk-cube2 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .sk-cube-grid .sk-cube3 {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    .sk-cube-grid .sk-cube4 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .sk-cube-grid .sk-cube5 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .sk-cube-grid .sk-cube6 {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .sk-cube-grid .sk-cube7 {
      -webkit-animation-delay: 0s;
      animation-delay: 0s;
    }
    .sk-cube-grid .sk-cube8 {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .sk-cube-grid .sk-cube9 {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }

    @-webkit-keyframes sk-cubeGridScaleDelay {
      0%,
      70%,
      100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
      }
      35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
    }

    @keyframes sk-cubeGridScaleDelay {
      0%,
      70%,
      100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
      }
      35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
      }
    }
  }
}
